extends baseEmail 

block content 
  p Hi #{firstName},
  p Forgot your password? 😣
  p Please submit a PATCH request with your new password and passwordConfirm to: #{url}
  p (Website for this action not implemented yet)
  p If you didn't forget your password, please ignore this email!

  p - Jonas Schmedtmann, CEO